.clock-row {
  max-width: 70vw;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-row > * {
  width: 100%;
  height: 100%;
  color: white;
  padding: 0.25rem;
  border-radius: 8px;
  filter: drop-shadow(0 0 5px #eee);
}

.digit {
  flex: 2;
  font-size: 3rem;
  text-align: center;
}

.seperator {
  width: fit-content;
  font-size: 3rem;
}

#ampm,
#date {
  font-size: 1rem;
  align-self: flex-end;
  height: fit-content;
  flex: 1 1 fit-content;
}

.flash {
  animation: flash 1s linear;
}

.progress-ring {
  position: absolute;
  right: auto;
  top: auto;
  height: 60vmin;
  width: 60vmin;
}

.seconds-ring {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  cx: 30vmin;
  cy: 30vmin;
  r: 28vmin;
}

@keyframes flash {
  50% {
    background-color: #eee;
  }
}
