:root {
  --tc-blue: #0094c8;
  --tc-gray: #8b8a8d;
  --dark-primary: #111; /* #1d2d50 */
  --dark-secondary: #333; /* #133b5c */
  --dark-info: #1e5f74;
  --dark-warning: #fcdab7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Simple Selectors */
html {
  position: relative;
  color: #eee;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  font-family: monospace;
}

.root {
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(
    to top left,
    var(--dark-primary),
    60%,
    var(--dark-secondary)
  );
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
